

.dogs-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: lightgray;
  width: 100%;
}

.dog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3%;
  height: 30vh;
  min-height: 25em;
  max-height: 32em;
  width: 15vw;
  max-width: 18em;
  min-width: 15em;
  overflow: hidden;
  background-color: #f0f0f0;
  color: var(--secondary-color);
  transition: .5s ease-out;
  padding: 1.5em;
  box-sizing: border-box;
  border: 4px solid var(--main-color);
  /* border-bottom: 4px dotted var(--main-color); */
  margin: 1em .5em;
}


.dog-card:hover {
  background-color: var(--main-color);
  border: 4px solid var(--secondary-color);
  /* border-bottom: 4px dotted var(--secondary-color); */
  transform: scale(1.1);
}

.dog-card:hover h3,
.dog-card:hover h4 {
  color: white
}

.dog-card:hover img {
  box-shadow: 0 5px 15px var(--secondary-color);
}

.dog-card img {
  display: block;
  width: 100%;
  height: 65%;
  object-fit: cover;
  object-position: 60% 20%;
  border-radius: 4%;
  margin-top: 0;
  box-sizing: border-box;
  /* border-bottom: 2px dotted var(--main-color); */
  box-shadow: 0 5px 15px var(--main-color);
}

.dog-card h2,
.dog-card h3 {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  font-size: 1em;
  color: var(--main-color);
}

.dog-card h2 {
  padding-top: .75em;
  font-size: 1.4em;
  font-weight: 600;
  color: var(--secondary-color);
}

.dog-card>h3,
h4 {
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--main-color);
}
