.home-container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.content-container {
  display: flex;
}

.right-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  
}
 