:root {
  --main-color: #2e4b36;
  --secondary-color: #daa520;
  --swiper-theme-color: black !important;
  --main-font: "Young Serif", serif;
  --secondary-font: "Montserrat", sans-serif;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3d3d3;
}

h2 {
  font-family: var(--main-font);
  font-weight: 300;
}

button {
  font-family: var(--main-font);
  background-color: #212528;
  color: white;
  border: none;
  width: 150px;
  height: 35px;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

button:hover {
  transform: scale(1.1);
}
