:root {
  --main-color: #2E4B36;
  --secondary-color: #daa520;
  --swiper-theme-color: black !important;
  --main-font: "Young Serif", serif;
  --secondary-font: "Montserrat", sans-serif;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  
}


h2 {
  font-family: var(--main-font);
  font-weight: 300;
}

button {
  font-family: var(--secondary-font);
  background-color: #212528;
  color: white;
  border: none;
  width: 150px;
  Height: 35px;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: .5s ease-out;
}

button:hover{
  transform: scale(1.1);
}
